.paginationItem {
  font-weight: 500;

  @apply cursor-pointer text-sm font-medium mx-1.5 px-3 py-2 flex items-center;

  &:hover{
    background-color: var(--rp-c-bg-soft);
    cursor: pointer;
    color: var(--rp-c-brand-dark);
    border-radius: 12px;
  }

  &.active {
    background-color: var(--rp-c-bg-soft);
    cursor: pointer;
    color: var(--rp-c-brand-dark);
    border-radius: 12px;
  }

  &.disabled {
    cursor: not-allowed;
    color: rgba(0, 0, 0, 0.25);
    background-color: transparent;
    border: none;
  }
}
